@model DevStore.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Article";
}

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class=" icon-gradient bg-mean-fruit fas fa-tachometer-alt"></i>
                            </div>
                            <div>
                                Ajouter un article
                                <div class="page-title-subheading">
                                    Formulaire pour poster un nouvel article.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="w-100 d-inline-block">

                    <!-- V Formulaire de modification d'un article V-->

                    <div class="main-card mb-3 card">
                        <div class="card-body">

                            @if (ViewBag.ErrMsg != null)
                            {
                                <div class="alert alert-danger fade show" role="alert">
                                    @ViewBag.ErrMsg
                                </div>
                            }

                            @if (ViewBag.ValidationMsg != null)
                            {
                                <div class="alert alert-success fade show" role="alert">
                                    @ViewBag.ValidationMsg
                                </div>
                            }
                            <h5 class="card-title">Formulaire d'ajout</h5>
                            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UpdateArticle" asp-route-Id="@Model.article.Id" asp-route-miniatureActuelle="@Model.article.Miniature" asp-route-documentationActuelle="@Model.article.Documentation">
                                <div class="position-relative row form-group">
                                    <label for="Titre" class="col-sm-2 col-form-label">Titre</label>
                                    <div class="col-sm-10"><input name="Titre" placeholder="Titre de l'article" type="text" class="form-control" value="@Html.DisplayFor(m => m.article.Titre)" required></div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="SousTitre" class="col-sm-2 col-form-label">Sous Titre</label>
                                    <div class="col-sm-10"><input name="SousTitre" placeholder="Sous titre de l'article" type="text" class="form-control" value="@Html.DisplayFor(m => m.article.SousTitre)" required></div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="Categorie" class="col-sm-2 col-form-label">Categorie</label>
                                    <div class="col-sm-10">
                                        <select name="CategorieId" class="form-control" required>
                                            @foreach (CategorieModel categorie in Model.listCategorie)
                                            {
                                                int index = Model.listCategorie.IndexOf(categorie);
                                                <option value="@Model.listCategorie[index].Id">@Html.DisplayFor(m => m.listCategorie[index].Intitule)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="Texte" class="col-sm-2 col-form-label">Texte</label>
                                    <div class="col-sm-10"><textarea name="Texte" class="form-control" required>@Html.DisplayFor(m => m.article.Texte)</textarea></div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="actuelleMiniature" class="col-sm-2 col-form-label">Miniature actuelle</label>
                                    <div class="col-sm-10"><input name="actuelleMiniature" type="text" class="form-control" value="@Html.DisplayFor(m => m.article.Miniature)" readonly></div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="miniature" class="col-sm-2 col-form-label">Miniature</label>
                                    <div class="col-sm-10">
                                        <input name="miniature" type="file" runat="server" class="form-control-file" id="imageMiniature" placeholder="Miniature">
                                        <small class="form-text text-muted">Image de miniature. Si aucune image n'est ajoutée une miniature par default sera ajoutée. Format : png ou jpeg</small>
                                    </div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="actuelleDocumentation" class="col-sm-2 col-form-label">Documentation actuelle</label>
                                    <div class="col-sm-10"><input name="actuelleDocumentation" type="text" class="form-control" value="@Html.DisplayFor(m => m.article.Documentation)" readonly></div>
                                </div>
                                <div class="position-relative row form-group">
                                    <label for="NomPdf" class="col-sm-2 col-form-label">Documentation téléchargeable</label>
                                    <div class="col-sm-10">
                                        <input name="documentation" type="file" runat="server" class="form-control-file" id="fichierPdf" placeholder="Fichier pdf">
                                        <small class="form-text text-muted">Document téléchargable apres la consultation d'un article.  Format : pdf</small>
                                    </div>
                                </div>


                                <div class="position-relative row form-check">
                                    <div class="col-sm-10 offset-sm-2">
                                        <input type="submit" class="btn btn-primary" value="Modifier l'article !">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- X Formulaire de modification d'un article X-->

                </div>

            </div>
        </div>

