@model DevStore.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Membre";

}
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class=" icon-gradient bg-mean-fruit metismenu-icon fas fa-pen"></i>
                            </div>
                            <div>
                                Voir les membres et modifier/Supprimer un membre
                                <div class="page-title-subheading">
                                    Voir les membres et modifier/Supprimer un membre
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="w-100 d-inline-block">
                    <!-- V cards Membres V-->
                    <div class="row justify-content-center">
                        @foreach (MembreModel membre in Model.listMembre)
                        {
                            int index = Model.listMembre.IndexOf(membre);

                            <div class="col-lg-2 col-md-4 col-sm-4 col-6 mt-2 mt-2 ml-1 mr-1 pb-2" style="background:white;border:solid 1px black; text-align:center;">
                                <img src="@("/assets/bitmoji/"+ Model.listMembre[index].Image)" style="height:auto; width:100%;" />
                                <p> @Html.DisplayFor(m => m.listMembre[index].Prenom) @Html.DisplayFor(m => m.listMembre[index].Nom)</p>
                                <input type="button" value="Modifier" class="btn btn-primary btn-sm mt-2" onclick="location.href='@Url.Action("UpdateMembreView", "Admin")?MembreId=@Html.DisplayFor(m => m.listMembre[index].Id)'" />
                                <input type="button" value="Supprimer" class="btn btn-danger btn-sm mt-2" onclick="location.href='@Url.Action("DeleteMembre", "Admin")?MembreId=@Html.DisplayFor(m => m.listMembre[index].Id)'" />
                            </div>
                        }


                    </div>
                    <!-- X cards Membres X-->
                </div>
            </div>
        </div>