@model DevStore.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Articles";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class=" icon-gradient bg-mean-fruit metismenu-icon fas fa-pen"></i>
                    </div>
                    <div>
                        Voir les articles et modifier/Supprimer un article
                        <div class="page-title-subheading">
                            Voir les articles et modifier/Supprimer un article
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 d-inline-block">
            <!-- V card tris par categories V -->
            <div class="divider mt-0" style="margin-bottom: 30px;"></div>
            <div class="main-card mb-3 card">
                <div class="row justify-content-center p-3">
                    <div class="col-12 d-flex justify-content-center"><h4 class="card-title">Recherche par catégorie</h4></div>


                    <div class="col-md-2 d-flex justify-content-center mt-lg-2 mt-md-2 mt-sm-2 mt-2">
                        <input type="button" class="btn btn-lg btn-outline-primary" value="Tous" onclick="tris()" />
                    </div>

                    @foreach (CategorieModel categorie in Model.listCategorie)
                    {
                        int indexCategorie = Model.listCategorie.IndexOf(categorie);
                        <div class="col-md-2 d-flex justify-content-center mt-lg-2 mt-md-2 mt-sm-2 mt-2">
                            <input type="button" class="btn btn-lg btn-outline-primary" value="@Html.DisplayFor(m => m.listCategorie[indexCategorie].Intitule)" onclick="tris(@Html.DisplayFor(m => m.listCategorie[indexCategorie].Id))" />
                        </div>
                    }

                </div>
            </div>
            <!-- X card tris par categories X-->
            <!-- V Articles V-->
            <div class="main-card mb-3 card mt-2">
                <h4 class="card-title ml-3 mt-3">Articles</h4>
                @if (ViewBag.ErrMsg != null)
                {
                    <div class="alert alert-danger fade show" role="alert">
                        @ViewBag.ErrMsg
                    </div>
                }

                @if (ViewBag.ValidationMsg != null)
                {
                    <div class="alert alert-success fade show" role="alert">
                        @ViewBag.ValidationMsg
                    </div>
                }
                <div class="row justify-content-center p-3">


                    <div class="row justify-content-around no-gutters" id="containerArticle">
                        @foreach (ArticleModel article in Model.listArticle)
                        {
                            int index = Model.listArticle.IndexOf(article);

                            string article_n = "article_" + Model.listArticle[index].Id;
                            <div style="background-image:url('@(Model.listArticle[index].Miniature != null ? "/assets/articles/"+ article_n + "/miniature/"+ Model.listArticle[index].Miniature : "/assets/miniatureCategorie/"+ Model.listArticle[index].Categorie.Image)'); background-size: cover;  background-repeat: no-repeat;" class="col-lg-2 col-md-4 col-sm-4 col-6 mt-2 mt-2 ml-1 mr-1 articleGrand">
                                <p> @Html.DisplayFor(m => m.listArticle[index].Titre)</p>
                                <p>@Html.DisplayFor(m => m.listArticle[index].SousTitre)</p>
                                <input type="button" value="Lire la suite" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("ViewArticle", "Home")?ArticleId=@Html.DisplayFor(m => m.listArticle[index].Id)'" />
                                <input type="button" value="Modifier" class="btn btn-primary btn-sm mt-2" onclick="location.href='@Url.Action("UpdateArticleView", "Admin")?ArticleId=@Html.DisplayFor(m => m.listArticle[index].Id)'" />
                                <input type="button" value="Supprimer" class="btn btn-danger btn-sm mt-2" onclick="location.href='@Url.Action("DeleteArticle", "Admin")?ArticleId=@Html.DisplayFor(m => m.listArticle[index].Id)'" />
                            </div>
                        }
                    </div>

                </div>
            </div>
            <!-- X Articles X-->
        </div>


    </div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
</div>

<!--Js-->
<script src="~/js/Admin/viewAndAdminArticle.js" charset="utf-8"></script>
<!--x Js x-->
